@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: sj;
  src: url(fonts/FN_Shamim_Jhinuk_Unicode.ttf);
}

@font-face {
  font-family: sjn;
  src: url(fonts/FN_Shamim_Jhinuk_Bijoy.ttf);
}

body {
  font-family: sj;
}

.sjn {
  font-family: sjn;
}
